*{
  color: white;
  font-family: arial, sans-serif;
  font-size: 13px;
}
body{
  background-color: black;
}
a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.grid-container{
  display: grid;
  grid-template-rows: 180px 670px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

grid-item{
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.header{
  grid-row-start: 1;
  grid-row-end:1;
  grid-column-start:1;
  grid-column-end: 4;
  padding-top: 10px;
}

.middle{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  align-self: flex-start;
  flex: auto;
}

.footer{
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: flex-end;
}

.footer-top-item{
  margin-left: 10px;
  padding-bottom: 10px;
}

.footer-bottom{
  border-top: solid grey 1px;
  margin-top: 5px;
  text-align: center;
  padding-top: 10px;
}

.footer-bottom-item{
  margin: 1%;
}

.header-right{
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.header-left{
  padding-left: 5px;
  padding-right: 5px;
}

#userpic:hover{
  box-shadow: 5px 5px 5px white;
  cursor: pointer;
}

#searchbar{
  width: 400px;
  height: 30px;
  border-radius: 100px;
  border-color: #656b66;
  background-image: url("../Icons/search_white_24dp.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px;
  background-color: grey;
  opacity: 60%;
  margin-top: 10px;
  padding-left: 40px;
}

.search-button-container{
  margin-top: 2%;
}

.search-buttons{
  margin: 10px;
  margin-left: 2px;
  background-color: darkgrey;
  border-radius: 4px;
  opacity: 80%;
}


.tooltip{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}


.tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #000;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 26px;
  right: -5px;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}
